# system files
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Windows junk
/AppData/
/*.lnk

# XAMPP logs/cache
/tmp/
/logs/
/*.log

# PHP files
*.sess

# IDE settings
.vscode/
.idea/

vendor/
node_modules/

.env
